<br> <br> <br> <br> <br>
<div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card my-3">
            <h3><a href="/Post/{{ post?.id }}">{{ post?.title }}</a></h3>
            <p>by {{ post?.firstName }} {{ post?.lastName }}; on {{ post?.dateCreated }}</p>
            <p>{{ post?.body }}</p>      
        </div>
    </div>
</div>
</div>


<!----

<h3><a href="/Post/{{ post?.id }}">{{ post?.title }}</a></h3>
<p>by {{ post?.firstName }} {{ post?.lastName }}; on {{ post?.dateCreated }}</p>
<p>{{ post?.body }}</p>

<br> <br> <br> <br> <br>
<div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card my-3" *ngFor="let post of posts">
            <h3><a href="/Post/{{ post?.id }}">{{ post?.title }}</a></h3>
            <p>by {{ post?.firstName }} {{ post?.lastName }}; on {{ post?.dateCreated }}</p>
            <p>{{ post?.body }}</p>      
        </div>
    </div>
</div>
</div>

-->